<header class="col-start-1 col-end-4 w-full fixed flex justify-between items-center p-2 pt-2.5 pb-2.5 px-10 bg-gray-700 z-10">
  <a class="italic font-bold text-2xl text-neutral-200 text-center" href="/home">Members Only</a>
  <a class="min-[650px]:hidden" id="hamburgerMenu">
    <img src="/svg/menu.svg" alt="Menu navigation icon" class="w-[24px]">
  </a>
  <nav>
    <a class="min-[650px]:hidden" id="closeHamburgerMenu" class="ml-auto">
      <img src="/svg/close.svg" alt="Menu navigation icon" class="w-[24px] mb-2">
    </a>
    <ul class="flex gap-4 text-neutral-200" id="navList">
      <li class="max-[650px]:underline">
        <a href="/home/adminDashboard" class="min-[1080px]:hidden min-[1080px]:isolate z-10">
          Dashboard
        </a>
      </li>
      <li class="max-[650px]:underline">
        <a href="/home">Home</a>
      </li>
      <li class="max-[650px]:underline">
        <a href="/becomeMember">Membership</a>
      </li>
      <li class="max-[650px]:underline">
        <a class="cursor-pointer" id="openAdmin">
          Admin
        </a>
      </li>
      <li class="max-[650px]:underline">
        <a href="/logout">Log out</a>
      </li>
    </ul>
  </nav>
</header>