<header class="col-start-3 col-end-4 ">
  <nav>
    <ul class="flex gap-4">
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="">Membership</a>
      </li>
      <li>
        <a href="/logout">Log out</a>
      </li>
    </ul>
  </nav>
</header>