<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body class="relative">
    <main class="flex gap-20 justify-center items-center h-full">
      <div>
        <p>members only club</p>
        <p>have a great time talking with peers</p>
      </div>
      <%- include('forms/login') %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
