<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="relative">
  <div class="flex flex-col gap-4 justify-center items-center h-full"> 
    <p>Log in your newly created account!</p>
    <%- include('forms/loginForm') %>
  </div>
  <%- include('partials/footer') %>
</body>
</html>