<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body class="flex justify-center items-center relative">
    <%- include('forms/registerForm') %> 
    <%- include('errors/regError') %>
    <%- include('partials/footer') %>
  </body>
</html>
