<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="relative grid grid-cols-[1fr_3fr_1fr] grid-rows-[50px_1fr]">
  <%- include('../partials/header') %>
  <div class="flex flex-col items-center col-start-2 col-end-3">
    <div>
      <span>What's on your mind, <%= user.first_name %>?</span>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>