<form action="/log-in" method="post" class="flex flex-col border p-4 gap-4">
  <label for="username">
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Username"
      class="border p-2"
    />
  </label>
  <label for="password">
    <input
      type="text"
      id="password"
      name="password"
      placeholder="Password"
      class="border p-2"
    />
  </label>
  <button type="submit" class="cursor-pointer">Log in</button>
  <hr />
  <p>
    Don't have an account?
    <span><a href="/register" class="underline">Register now</a></span>
  </p>
  <% if (locals.message) { %>
   <p class="text-red-800"><%= locals.message %></p>
  <% } %>
</form>
